#root {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

button, a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.search-bar {
  margin: 1em;
  padding: 0.5em;
  width: 60%;
  height: 20%;
  max-width: 400px;
  font-size: 1em;
}